body{
    /* background-color: azure; */
    margin: 0;
}
.logo{
    background-color: white;
    width: 120px;
    margin: -13px;
    border-radius: 0 90px 40px 0;

}
.logo1{
    padding: 15px;
}

.navbar{
    display: flex;
    background-color: #2d8e84;
    padding: 10px;
    /* border-bottom:  2px  black ; */
    border: 2px cadetblue;

    border-style: double;
}
.menu{
    padding: 10px;
}
li{
    display: inline;
    margin: 10px;
}
li a{
    text-decoration: none;
    color: white;

}
li a:hover{
    background-color: beige;
color: #000;
}
.btn{
    background-color: black;
    width: 60px;
    height: 30px;
    margin:20px 0 0 0 ;
    border: none;
    border-radius: 5px;
    color: white;
}
.container{
    width: 90%;
    /* border:10px #000;
    border-style: dashed; */
    height: 600px;
    margin: 70px;
    
}
.box1,.box3{
    float: right;
    width: 50%; 
    background-color: #afede7;
    margin-left:30px;

}
.box2{
    margin-top: 150px;
    width: 50%;
    background-color: #afede7;

}
h2{
    background-color: #2d8e84;
    width: auto;
    padding: 20px;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    margin: 0;
}

@media only screen and (max-width: 600px)  {
    /* .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
.navbar{
    overflow: hidden;
    background-color: #333;
  position: relative;
} */
.container{
    margin: 10px;
}
.box1,.box2,.box3{
    width: 100%;
}
h2{
    background-color: #2d8e84;
    width: auto;
    height: 90px;
    padding: 0px;  
}
}